<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../views/header/header :: header" ></div>

<div class = "container">
    <h2 class = "text-danger">User:</h2>
    <div>
        <label for = "id">Id: </label>
        <p id = "id" th:text = "${user.getId()}" />
    </div>
    <div>
        <label for = "login">Login: </label>
        <p id = "login" th:text = "${user.getLogin()}" />
    </div>
    <div>
        <label for = "firstName">First name: </label>
        <p id = "firstName" th:text = "${user.getFirstName()}" />
    </div>
    <div>
        <label for = "secondName">Second name: </label>
        <p id = "secondName" th:text = "${user.getSecondName()}" />
    </div>
    <div>
        <label for = "pass">Password: </label>
        <p id = "pass" th:text = "${user.getPassword()}" />
    </div>
    <div>
        <label for = "age">Age: </label>
        <p id = "age" th:text = "${user.getAge()}" />
    </div>
    <div>
        <label for = "sex">Sex: </label>
        <p id = "sex" th:text = "${user.getSex()}" />
    </div>
    <div>
        <label for = "specialty">Specialty: </label>
        <p id = "specialty" th:text = "${user.getSpecialty()}" />
    </div>
    <div>
        <label for = "role">Role: </label>
        <p id = "role" th:text = "${user.getRole()}" />
    </div>
    <div>
        <label for = "email">Email: </label>
        <p id = "email" th:text = "${user.getEmail()}" />
    </div>
<!--    <div>-->
<!--        <label for = "lastActivity">Last activity: </label>-->
<!--        <p id = "lastActivity" th:text = "${user.getLastActivity()}" />-->
<!--    </div>-->
    <div>
        <label for = "phone">Phone: </label>
        <p id = "phone" th:text = "${user.getPhone()}" />
    </div>
    <div>
        <label for = "rating">Rating: </label>
        <p id = "rating" th:text = "${user.getRating()}" />
    </div>
</div>
</body>
</html>