</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../views/header/header :: header" ></div>

<div class="container">
    <h2 class="text-danger">All categories:</h2>
    <table class="table">
        <thead>
        <th>Delete</th>
        <th>Id</th>
        <th>Name</th>
        <th>description</th>
        </thead>
        <tbody>
        <tr th:each="category:${categories}">
            <td>
                <a th:href="@{/categories/deletebyid( id = ${category.getId()} )}" class="btn btn-primary">Delete</a>
            </td>
            <td th:text="${category.getId()}" />
            <td th:text="${category.getName()}" />
            <td th:text="${category.getDescription()}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>