<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create category</title>

    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../views/header/header :: header" ></div>

<div class="container">
    <h2 class="text-danger">Add category:</h2>
    <form th:action="@{/categories/create}" method="post" th:object="${category}">
        <div class = "form-group">
            <label for = "name">Name: </label>
            <input id="name" class="form-control" th:field="*{name}" />
            <span
                    th:if = "${#fields.hasErrors( 'name' )}"
                    th:errors = "${category.name}"
                    class = "text-danger"></span>
        </div>
        <div class = "form-group">
            <label for = "description">Description: </label>
            <input id="description" class="form-control" th:field="*{description}" />
            <span
                    th:if = "${#fields.hasErrors( 'description' )}"
                    th:errors = "${category.description}"
                    class = "text-danger"></span>
        </div>
        <button class="btn btn-primary" type = "submit">Submit</button>
    </form>
</div>
</body>
</html>