<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../views/header/header :: header" ></div>

<div class="container">
    <h2 class="text-danger">All messages:</h2>
    <table class="table">
        <thead>
        <th>Id</th>
        <th>From Id</th>
        <th>To Id</th>
        <th>Text</th>
        <th>Date</th>
        <th>Time</th>
        </thead>
        <tbody>
        <tr th:each="message:${messages}">
            <td>
                <a
                        th:href="@{/messages/message( id = ${message.getId()} )}"
                        th:text="${message.getId()}" ></a>
            </td>
            <td th:text="${message.getFrom()[0].getId()}" />
            <td th:text="${message.getTo()[0].getId()}" />
            <td th:text="${message.getText()}" />
            <td th:text="${message.getDate()}" />
            <td th:text="${message.getTime()}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>