<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../views/header/header :: header" ></div>

<div class="container">
    <h2 class="text-danger">All orders:</h2>
    <table class="table">
        <thead>
        <th>Delete</th>
        <th>Edit</th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Deadline</th>
        <th>Category</th>
        <th>Customer</th>
        <th>Max price</th>
        <th>Type</th>
        <th>Status</th>
        <th>Final executor</th>
        </thead>
        <tbody>
        <tr th:each="order:${orders}">
            <td>
                <a th:href="@{/orders/deletebyid( id = ${order.getId()} )}" class="btn btn-primary">Delete</a>
            </td>
            <td>
                <a th:href="@{/orders/editorder( id = ${order.getId()} )}" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a
                        th:href="@{/orders/getById( id = ${order.getId()} )}"
                   th:text="${order.getId()}" ></a>
            </td>
            <td th:text="${order.getName()}" />
            <td th:text="${order.getDescription()}" />
            <td th:text="${order.getDate()}" />
            <td th:text="${order.getDeadline()}" />
            <td th:text="${order.getCategory().getName()}" />
            <td th:text="${order.getCustomer().getLogin()}" />
            <td th:text="${order.getMaxPrice()}" />
            <td th:text="${order.getType()}"/>
            <td th:text="${order.getStatus()}" />
            <td> <div th:if="${order.getFinalExecutor() != null }" th:text="${order.getFinalExecutor().getLogin()}" /> </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="navigation" th:if="${orders.totalPages>1}">
        <span>Page</span>
        <span th:text = "${orders.number+1}"></span>
        <span>of</span>
        <span th:text = "${orders.totalPages}"></span>
        <ul class="pagination">
            <li class="page-item disabled" th:if="${orders.number==0}">
                <a class="btn btn-primary" href = "#" aria-disabled="true">Previous</a>
            </li>
            <li class = "page-item" th:if="${orders.number>0}">
                <a class = "btn btn-primary" th:href = "@{/orders/all( page = ${orders.number - 1} )}">Previous</a>
            </li>
            <li class = "page-item disabled" th:if = "${orders.number == orders.totalPages - 1}">
                <a class = "btn btn-primary" href = "#" aria-disabled="true">Previous</a>
            </li>
            <li class = "page-item" th:if="${orders.number < orders.totalPages - 1}">
                <a class = "btn btn-primary" th:href="@{/orders/all( page = ${orders.number + 1} )}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>